body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#event-sequence {
    overflow: auto;
    white-space: nowrap; /* 确保横向滚动 */
    position: relative;
}

.switch-fixed {
    position: absolute;
    top: 10px;
    right: 3px;
    z-index: 100;      /* 确保在滚动条和其他内容之上 */
}

.radio-container {
    margin-top: 10px;
}

.radio-group-vertical {
    display: flex;
    flex-direction: column; /* 纵向排列 */
    align-items: flex-start !important;
    width: 100%;
}


.text-style {
    font-size: 13px;
}

.d3-tip {
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-size: 13px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.day-of-week {
    display: inline-block;
    width: 30px; /* 根据实际需求调整宽度 */
    text-align: center;
    margin-right: 5px; /* 调整与日期的间距 */
}

.list-text {
    margin-left: 15px;
}

.el-anchor__list {
    border-left: 2px solid #E4E4E4;
}

svg {
    width: 100%;
    height: 100%;
    border: none;
}

#app {
    display: flex;
    width: 100%;
}

.mapping-legend {
    padding: 10px;
    border: none;
    border-radius: 5px;
    /*overflow-y: auto; !* 允许垂直滚动 *!*/
    width: auto; /* 确保图例的宽度与容器一致 */
}

.label-layer-0, .label-layer-1, .label-layer-2, .label-layer-3, .label-layer-4 {
    fill: var(--text-color);
}

.toggle-button {
    position: fixed;
    top: 10px;
    left: 200px; /* 让按钮紧跟导航栏右侧边缘线移动 */
    z-index: 1000;
    cursor: pointer;
    background-color: #f6f6f6;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: left 0.3s ease;
}

.toggle-button span {
    font-size: 18px;
    font-weight: bold;
}

.el-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    height: auto !important;
}

.el-button, .el-switch, .el-select {
    font-size: 10px;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    padding: 0;
    margin: 0;
    line-height: 1;
    height: 20px;
}

.algorithm_box {
    width: 100px;
}

#similar-list {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    font-size: 13px;
    width: fit-content;
    white-space: nowrap;
    justify-content: left;
}

.key-words {
    background-color: #ffecb3;
    font-weight: bold;
    color: #606266;
    padding-right: 2px;
    padding-left: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.monday, .tuesday, .wednesday, .thursday, .friday {
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 3px;
    /*font-weight: bold;*/
    color: white;
}

.monday {background-color: #F44336;}
.tuesday {background-color: #9C27B0;}
.wednesday {background-color: #3F51B5;}
.thursday {background-color: #03A9F4;}
.friday {background-color: #009688;}

:root {
    --text-color: #CFD3DC;
    --bg-color: #141414;
    --scrollbar-color: #A3A6AD;
    --scrollbar-hover-color: #E5EAF3;
    --month-header-color: #555555;
}

.text-style, .similar-sequences, .tree-node-text, .year-label, #algorithm-description,
#algorithm-process, .mapping-legend {
    fill: var(--text-color);
    color: var(--text-color);
}

.el-container, .el-anchor__list, .mapping-legend {
    background-color: var(--bg-color);
}

.el-scrollbar {
    --el-scrollbar-bg-color: var(--scrollbar-color) !important;
    --el-scrollbar-hover-bg-color: var(--scrollbar-hover-color) !important;
}

.month-header {
   background-color: var(--month-header-color);
}

#algorithm-description, #algorithm-process {
    height: fit-content;
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: 5px;
    margin-bottom: 15px;
}

#algorithm-process {
    height: fit-content;
    /*width: 100%;*/
    padding: 10px;
    border: 1px solid;
    border-color: var(--text-color);
    border-radius: 5px;
}
